
#ddiv {
    position:relative;
    top:20px;
    float:left;
    width:800px;
    left:20px;

}
#dddiv {
    position:relative; 
    top:20px; 
    float:left;
    left:100px;
}
.label {
    position:relative;
    left:10px;
    font-size:20px;
    font:200;
    color:#00466B;
    font-family:微软雅黑;

}
.textbox1 {
    width:350px;
    height: 40px;
    border-color:#759FBD;
    border-width:4px;
    margin-left:20px;
    
}
.textbox2 {
     width: 80px;
    height: 50px;
    border-color: tomato;
    border-width: 4px;
    margin-left: 320px;
}
.character {
    color: green;
    font-family: 幼圆;
    margin-left:20px;
}


